* {
    font-family: 'Belanosima', sans-serif;
}

body
{
    display: grid;
    min-height: 100vh;
    grid-template-rows: 100px 1fr 20px;
    grid-template-columns: 1.5fr 8.5fr;
}

header {
    background-color: #b30000;
    text-align: center;
    font-size: 5vw;
    color: white;
    -webkit-text-stroke: 2px black;
    grid-column: span 2;
    display: flex;
}
aside {
    float: left;
    background-color: #ffe6cc;
    flex:1;
}

main {
    overflow-y: scroll;
}
footer {
    clear: left;
    background-color: #b30000;
    text-align: center;
    color: gray;
    grid-column: span 2;
  }




form {
    display: flex;
    flex-direction: column;
}


.logo {
    height: 100%;
    width: same-as-height;
}
.divLogo {
    width: 20%; 
}
#title {
    width: 60%;
} 